.bg-light {
  .post-card {
    cursor: pointer;
    .avatar-img {
      width: 3.5rem;
      height: 3.5rem;
    }
    .post-description {
      line-break: anywhere;
      max-width: 745px;
      width: 100%;
      font-size: 16px;
      color: #8a93a2 !important;
    }
    .img-post {
      max-width: 550px;
      width: 100%;
      max-height: 350px;
    }
    .like-section {
      ul {
        list-style: none;
        li {
          font-size: 23px;
          svg {
            width: 22px;
            height: 22px;
          }
        }
      }
    }
    .comment-box {
      background: #d2d5d9;
      border-radius: 15px;
      padding: 15px;
    }
    ul {
      list-style: none;
    }
  }
}
::ng-deep {
  .bg-light {
    .post-card {
      .post-description {
        a {
          color: #8a93a2 !important;
          font-size: 15px;
          margin-top: 10px;
        }
        img {
          max-width: 550px;
          max-height: 350px;
        }
        h3,
        h5 {
          font-size: 15px;
          margin-top: 10px;
        }
      }
    }
  }
}
