.app-channels {
    c-nav .nav-link {
      border-radius: 0px;
  
      &.active {
        border-top: 3px solid #000;
  
        &:first-child {
          border-left: 1px solid transparent;
        }
      }
    }
  }
  td {
    cursor: pointer;
  }
  
  .avatar-img {
    width: 2.5rem;
    height: 2.5rem;
  }
  
  .c-btn{
    width: 100px;
  }
  
  .c-width{
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }