<!-- <div class="bg-light d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="8">
        <span class="clearfix">
          <h1 class="float-start display-3 me-4">Community</h1>
          <h4 class="pt-3">The page will appear soon</h4>
          <p class="text-medium-emphasis float-start">
            The page you are looking for is temporarily unavailable.
          </p>
        </span>
      </c-col>
    </c-row>
  </c-container>
</div> -->

<c-modal
  id="liveDemoModal"
  [visible]="true"
  [keyboard]="false"
  [transition]="false"
  backdrop="static"
  alignment="center"
>
  <c-modal-header>
    <h5 cModalTitle>View User</h5>
    <button (click)="activateModal.close()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <c-row class="justify-content-center">
      <c-col md="6">
        <label>Username</label>
        <input
          cFormControl
          name="uname"
          [(ngModel)]="userDetails.Username"
          type="text"
          disabled
        />
      </c-col>
      <c-col md="6">
        <label>Email</label>
        <input
          cFormControl
          name="uname"
          [(ngModel)]="userDetails.email"
          type="text"
          disabled
        />
      </c-col>
    </c-row>
    <c-row class="justify-content-center">
      <c-col md="6">
        <label>Profile ID</label>
        <input
          cFormControl
          name="uname"
          [(ngModel)]="userDetails.profileId"
          type="text"
          disabled
        />
      </c-col>
      <c-col md="6">
        <label>Account Type</label>
        <input
          cFormControl
          name="uname"
          [(ngModel)]="userDetails.AccountType"
          type="text"
          disabled
        />
      </c-col>
    </c-row>
    <c-row class="justify-content-center">
      <c-col md="6">
        <label>Is Active</label>
        <input
          cFormControl
          name="uname"
          [(ngModel)]="userDetails.IsActive"
          type="text"
          disabled
        />
      </c-col>
      <c-col md="6">
        <label>Is Suspended</label>
        <input
          cFormControl
          name="uname"
          [(ngModel)]="userDetails.IsSuspended"
          type="text"
          disabled
        />
      </c-col>
    </c-row>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="activateModal.close()" cButton color="secondary">
      Close
    </button>
    <!-- <button cButton color="primary">Save changes</button> -->
  </c-modal-footer>
</c-modal>
